@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-Reg.otf) format("OpenType");font-style:normal; font-weight: 400;}
@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-Bold.otf) format("OpenType");font-style:normal; font-weight: 800;}
@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-Light.otf) format("OpenType");font-style:normal; font-weight: 200;}
@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-RegIt.otf) format("OpenType");font-style:italic; font-weight: 400;}
@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-BoldIt.otf) format("OpenType");font-style:italic; font-weight: 600;}
@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-LightIt.otf) format("OpenType");font-style:italic; font-weight: 200;}
@font-face {font-family: 'ProximaNova'; src: url(../font/ProximaNova-Black.otf) format("OpenType");font-style:normal; font-weight: 900;}
@font-face {font-family: 'FontAwesome'; src: url(../font/FontAwesome.otf) format("OpenType");}


html, body{
	padding:0;
	margin:0;
	font-size: 14px;
	font-family: 'ProximaNova', sans-serif;
}
a{
	text-decoration: none;
	color: #fff;
}
img{
	max-width: 100%;
	max-height: 100%;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
ul{
	padding:0;
	margin:0;
}
li{
	list-style: none;
}

.container{
	max-width:1182px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 15px;
	margin:0 auto;
	position: relative;
}

.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
	.flex.justify{
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.flex.center{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

.px{
	padding: 0 125px;	
} 

.button {
    padding: 18px 40px;
    background: #ff8b00;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}
	.button:hover{
		background: #ffa73d;
	}


.header{
	background: #7050e5;
	position: relative;
}
	.header:after, .header:before{
	    content: "";
	    border-bottom: 9vw solid #fff;
	    z-index: 1;
	    bottom: 0;
	    position: absolute;
	}
		.header:after {
		    border-left: 50vw solid transparent;
		    right: 0;
		}
		.header:before {
		    border-right: 50vw solid transparent;
		    left: 0;
		}

	.header__top{
		padding:32px 0;
		margin-bottom: 80px;
	}
	.header__bottom {
	    z-index: 2;
	    position: relative;
	    padding:0 0 50px;
	}

.menu{
	padding: 0;
	width: 84%;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	visibility: visible;
}
	.li{
		margin:0 15px;
	}
	.li:last-child{
		margin-right: 0;
	}
	.li a{
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
	}
	.li a:before{
		content:"";
		background:transparent;
		position: absolute;
		left: -5px;
		right: -5px;
		bottom: -9px;
		height: 3px;
		-webkit-transition: .2s background;
		-o-transition: .2s background;
		transition: .2s background;
	}
	.li.current a:before, .li a:hover:before{
		background: #ff8b00;
	}


.burger {
	width: 30px;
    height: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 15px;
    cursor: pointer;
    visibility: hidden;
}
	.burger span {
	    height: 2px;
	    width: 100%;
    	margin: 4px 0;
    	background: #fff;
    	-webkit-transition: .2s all;
    	-o-transition: .2s all;
    	transition: .2s all;
	}
	.burger span:nth-child(3) {
	    width: 76%;
	}
	.burger:hover span, .burger.close span{
		background: #ff8b00;
	}

		.burger.close span {
		    position: absolute;
		    margin: 0;
		}
			.burger.close span:nth-child(1) {
			    -webkit-transform: rotate(45deg);
			        -ms-transform: rotate(45deg);
			            transform: rotate(45deg);
			}
			.burger.close span:nth-child(2) {
			    -webkit-transform: rotate(-45deg);
			        -ms-transform: rotate(-45deg);
			            transform: rotate(-45deg);
			}
			.burger.close span:nth-child(3) {
			    display: none;
			}

.logo{
	width: 16%;
}
	.logo__img{
		width: 78px;
		height: 100px;
	}


.slide {
    padding: 0 78px;
}
	.slide__left {
	    -webkit-box-flex: 1;
	        -ms-flex: 1;
	            flex: 1;
	    color: #fff;
	}
	.slide__right {
	    -webkit-box-flex: 1;
	        -ms-flex: 1;
	            flex: 1;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;		
	}
	.slide__title {
	    font-size: 55px;
	    line-height: 1;
	    font-weight: 600;
	    margin-bottom: 30px;
	}
	.slide__text {
	    font-size: 16px;
	    font-weight: 500;
	    line-height: 30px;
	    margin:0 0 55px;
	}



.owl-dots {
    width: 21px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
	.owl-dot {
	    background: url(../img/slider_nav.png) center no-repeat;
	    width: 21px;
	    height: 21px;
	    outline: none;
	    margin-bottom: 16px;
	}
	.owl-dot:hover {
	    background: url(../img/slider_nav_hover.png) center no-repeat;
	}
	.owl-dot.active {
	    background: url(../img/slider_nav_active.png) center no-repeat;
	}


.button-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
}
	.button-bottom__button {
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    text-align: center;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
		.button-bottom__button:after {
		    content: "";
		    height: 72px;
		    width: 63px;
		    background: url(../img/button_arow.png) center no-repeat;
		    margin-top: 20px;
		    -webkit-transition: .2s transform;
		    -o-transition: .2s transform;
		    transition: .2s transform;
		}
		.button-bottom__button:hover:after {
		    -webkit-transform: scale(1.05);
		        -ms-transform: scale(1.05);
		            transform: scale(1.05);
		}

.counts {
    padding: 150px 0 105px;
}
	.counts__wrap {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	 }
	.counts-item {
	    padding: 0 20px;
	    text-align: center;
	    color: #7050e5;
	    max-width: 300px;
	    -webkit-box-sizing: border-box;
	            box-sizing: border-box;
	    margin-bottom: 20px;
	}
		.counts-item__count {
		    font-size: 60px;
		    font-weight: 600;
		    margin-bottom: 12px;
		}
			.counts-item__count span {
			    white-space: nowrap;
			    overflow: hidden;
			    -o-text-overflow: ellipsis;
			       text-overflow: ellipsis;
			    display: inherit;
			}
		.counts-item__title {
		    text-transform: uppercase;
		    font-weight: 500;
		    line-height: 1.4;
		}


.working{
	background: #f8f8f8;
	padding: 140px 0 112px;
}
	.working__header {
	    position: relative;
	    text-align: right;
	    color: #7050e5;
	    font-size: 54px;
	    text-transform: capitalize;
	    letter-spacing: 1.4px;
	    margin-bottom: 60px;
	    font-weight: 600;
	    padding-right: 145px;
	}
		.working__header:after {
		    content: "";
		    width: 50px;
		    height: 50px;
		    background: url(../img/working_header.png) center no-repeat;
		    position: absolute;
		    right: 95px;
		    top: -34px;
		}

	.working__wrap{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
		.workink-item {
		    width: 33.3%;
		    -webkit-box-sizing: border-box;
		            box-sizing: border-box;
		    padding: 0 20px;
		    margin-bottom: 50px;
		}
			.working-item__image {
			    height: 180px;
			    margin-bottom: 20px;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-align: center;
			        -ms-flex-align: center;
			            align-items: center;
			    -webkit-box-pack: center;
			        -ms-flex-pack: center;
			            justify-content: center;
			}
			.working-item__title {
			    color: #7050e5;
			    text-transform: uppercase;
			    font-size: 16px;
			    line-height: 1;
			}
			.working-item__description {
			    color: #878787;
			    line-height: 1.4;
			}


.product{
	padding:120px 0;
}
	.product-right {
	    -webkit-box-flex: 1;
	        -ms-flex: 1 420px;
	            flex: 1 420px;
	}
	.product-left {
	    -webkit-box-flex: 1;
	        -ms-flex: 1 260px;
	            flex: 1 260px;
	    padding-right: 80px;
	}
	.product-left__header {
	    margin-bottom: 14px;
	    font-size: 35px;
	    font-weight: 600;
	    letter-spacing: 1px;
	    line-height: 1;
	    color: #7050e5;
	}
	.prouct-left__description {
	    font-size: 15px;
	    line-height: 22px;
	    color: #878787;
	    margin-bottom: 56px;
	}

.video {
    background: #333 url(../img/video.png) center/cover no-repeat;
    height: 450px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}
	.video__play {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    text-transform: uppercase;
	    letter-spacing: 1.4px;
	    margin-bottom: 8px;
	    font-size: 16px;
	}
		.video__play:before {
		    content: "";
		    width: 86px;
		    height: 86px;
		    border: 2px solid #fff;
		    display: inline-block;
		    margin-bottom: 16px;
		    border-radius: 50%;
		    background: url(../img/play.png) 55% center no-repeat;
		    -webkit-transition: .2s transform;
		    -o-transition: .2s transform;
		    transition: .2s transform;
		}
		.video__play:hover:before {
		    -webkit-transform: scale(1.05);
		        -ms-transform: scale(1.05);
		            transform: scale(1.05);
		}
	.video__name {
	    font-size: 32px;
	    text-transform: uppercase;
	    letter-spacing: 1.4px;
	    font-weight: 600;
	}


	.stop .play-link, .stop .video__name {
	    opacity: 0;
		-webkit-transition: .2s opacity;
		-o-transition: .2s opacity;
		transition: .2s opacity;

	}
		.video:hover .stop{
			opacity: 1;
		}
		.stop .video__play:before {
		    background: url(../img/pause.png) 50% center/40px no-repeat;
		}


.contacts {
    background: #7050e5 url(../img/contacts.png) center/cover no-repeat;
    padding: 60px 0;
}
	.contacts__left {
	    font-size: 36px;
	    color: #fff;
	    letter-spacing: .8px;
	    padding: 20px 0;
	}
	.contacts__right{
	 
	}

.footer{
	background: #363636;
	padding: 50px 0 0;
}

	.footer__right {
		-webkit-box-flex:1;
		    -ms-flex:1 620px;
		        flex:1 620px;
		margin:40px 0;
	}	
	.footer__left{
		-webkit-box-flex:1;
		    -ms-flex:1 400px;
		        flex:1 400px;
		margin:40px 0;
	}
		.navigation__item {
		    -webkit-box-flex: 1;
		        -ms-flex: 1 240px;
		            flex: 1 240px;
		}


	.navigation-header {
	    color: #ff8b00;
	    margin-bottom: 20px;
	    font-weight: 600;
	    text-transform: uppercase;
	}
		.navigation-header:before {
		    content: "";
		    width: 14px;
		    height: 14px;
		    background: url(../img/slider_nav_active.png) center/12px no-repeat;
		    margin-right: 8px;
		    margin-bottom: 1px;
		}

	.navigation__ul li {
	    margin-bottom: 14px;
	    color: #fff;
	}
		.navigation__ul li a, .navigation__ul li .contact-sails{
		    text-transform: uppercase;
		    letter-spacing: 1px;
		}
		.contact-sails{
			margin-right: 8px;
		}


.twitter {
    width: 300px;
    height: 300px;
    background: #fff;
}
.twitter__header {
    height: 60px;
    background: #7050e5;
}
	.twitter__icon{
		background: #5634d1;
		width: 60px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
		.twitter__icon:before{
			content:"";
			width: 34px;
			height: 34px;
			border:2px solid #fff;
			border-radius: 50%;
			background: url(../img/twitter__icon.png) center no-repeat;
		}
		.twitter__name{
			padding: 5px 12px;
			-webkit-box-flex:1;
			    -ms-flex:1;
			        flex:1;
			white-space: nowrap;
    		overflow: hidden;
		}
	.twitter__name p{
		margin:0;
		color: #fff;
		overflow: hidden;
    	-o-text-overflow: ellipsis;
    	   text-overflow: ellipsis
	}
	.twitter__name .name{
		font-size: 24px;
	}

.twitter__content {
    padding: 22px 30px;
}

	.tweet {
	    line-height: 21px;
	    margin-bottom: 12px;
	}
		.tweet:last-child{
			margin-bottom: 0;
		}
		.tweet__content {
		    color: #999999;
		}
		.tweet__link {
		    color: #7050e5;
		}
		.tweet__date {
		    color: #555555;
		    font-size: 12px;
		}

.footer__bottom {
    background: #252525;
    padding: 12px 0;
    margin-top: 50px;
}
	.copyright {
	    text-align: center;
	    text-transform: uppercase;
	    font-size: 12px;
	    color: #9b9b9b;
	    letter-spacing: 1px;
	}


@media screen and (max-width: 860px){
	.menu {
	    position: absolute;
	    right: 15px;
	    top: 80px;
	    background: #5634d1;
	    margin: 0;
	    width: 200px;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-pack: start;
	        -ms-flex-pack: start;
	            justify-content: flex-start;
	    z-index: 9;
	    overflow: hidden;
	    visibility: hidden;
	}
		.menu.visible{
			visibility: visible;
		}
		.li:last-child{
			margin-right: 15px;
		}
		.li a {
		    display: block;
		    padding: 12px 0 12px 12px;
		    border-bottom: 1px solid #7050e55c;
		}
			.li:last-child a{
				border:none;
			}
			.li a:before {
			    left: -15px;
			    width: 3px;
			    bottom: 0;
			    top: 0;
			    height: auto;
			}

		.burger{
			visibility: visible;
		}

	.slide{
		padding:0 50px 0 0;
	}
		.slide__right {
		    -webkit-box-flex: 1;
		        -ms-flex: 1 100%;
		            flex: 1 100%;
		    -webkit-box-pack: start;
		        -ms-flex-pack: start;
		            justify-content: flex-start;
		    -webkit-box-ordinal-group: 2;
		        -ms-flex-order: 1;
		            order: 1;
		    height: 60px;
		    margin-bottom: 30px;
		}
		.slide__left {
		    -webkit-box-ordinal-group: 3;
		        -ms-flex-order: 2;
		            order: 2;
		}
			.slide__title{
				font-size: 42px;
				margin-bottom: 20px;
			}
			.slide__text{
				margin-bottom: 40px;
			}

		.header__top{
			margin-bottom: 40px;
		}
		.button-bottom{
			margin-top: 40px;
		}

	.px{
		padding:0;
	}

	.working{
		padding: 80px 0 40px;
	}
	.workink-item {
	    width: 100%;
	}
		.working-item__image {
		    height: 60px;
		    -webkit-box-pack: start;
		        -ms-flex-pack: start;
		            justify-content: flex-start;
		}
		.working__header {
		    text-align: center;
		    font-size: 42px;
		    padding: 0;
		}
			.working__header:after{
				right: 15px;
			}

	.counts-item {
	    width: 33%;
	    min-width: 200px;
	}
	.counts-item__count {
    	font-size: 42px;
	}

		.product-left{
			margin-bottom: 40px;
		}
		.prouct-left__description{
			margin-bottom: 20px;
		}

	.footer__left{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.navigation__item{
		margin-bottom: 40px;
	}
}